@{
    var character = ViewData["Character"] as Character;
}


<table class="table">
    <tr>
        <th scope="col">#</th>
        <th scope="col">Age</th>
        <th scope="col">Name</th>
        <th scope="col">Story</th>
    </tr>
    <tr>
        <td>@Model.Id</td>
        <td>@Model.Name</td>
        <td>@Model.Age</td>
        <td>@Model.Story.Name</td>
    </tr>
    
</table>
